.form-group
  label Motor de SQL
    select.form-control(name="engine", ng-model='settings.engine')
      option(value="mysql") MySQL
      option(value="sqlserver") SQL Server

div.form-group
  div.row
    div.col-md-12
      div.row
        div.col-md-6
          label Host
          input.monospaced.form-control(name='connectionString', ng-model='settings.connection.host')

          label Base de datos
          input.monospaced.form-control(name='connectionString', ng-model='settings.connection.database')
        div.col-md-6
          label Usuario
          input.monospaced.form-control(name='connectionString', ng-model='settings.connection.username')

          label Contraseña
          input.monospaced.form-control(type='password', name='connectionString', ng-model='settings.connection.password')

.form-group
  label Consulta de stocks y precios
  textarea.monospaced.form-control(name="query", ng-model='settings.query', rows="8")

  div.large-info.alert.alert-info
    | #[strong Columnas requeridas:] #[br]
    | [barcode|sku]: (String) Identificador del producto. #[br]
    | stock: (Entero) Cantidad disponible. #[br]
    | price: (Flotante) Precio de venta.

button.btn.btn-info(ng-click="test()", ng-disabled="isTestingDb") Continuar
